<nav aria-label="breadcrumb">
    <ol class="breadcrumb pl-0">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" [routerLinkActive]="['active']">Back</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="client">{{client.displayName}}</li>
    </ol>
</nav>
<div class="col-12 col-xxl row m-0 p-0">
    <div class="card mb-3" *ngIf="client" style="width: 100%;">
        <div class="card-header-banner">
            <div class="d-flex ml-3">
                <div class="imagecontainer {{client.status.code | StatusLookup}}">
                    <img *ngIf="!client.imagePresent || !clientImage" class="img-responsive img-circle" src="../assets/client-image-placeholder.png" alt="Avatar" height="133" width="130">
                    <img *ngIf="client.imagePresent && clientImage" class="img-responsive img-circle pointer" [src]="clientImage" alt="Avatar" height="130" width="130" [tooltip]="'Show Larger'" placement="right" [documentView]="'view'" entityType="clientImage" [entityId]="clientId">
                </div>
                <div class="d-flex fd-flex card-content">
                    <div class="d-flex">
                        <h1 class="mr-2 ml-2 mt-2 mb-2 text-white mr-auto">{{client.customerTitles.name}} {{client.displayName}}
                        </h1>
                    </div>
                    <div class="d-flex ml-2 text-white card-sub-header">
                        <div class="mr-4 mb-2">
                            <span>Customer ID:</span>
                            <span class="ml-1">{{client.accountNo}}</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span>Activation Date:</span><span class="ml-1">{{client.timeline.activatedOnDate | date:
                                dateFormat}}</span>
                        </div>
                        <div class="mr-4 mb-2" *ngIf="!client.timeline.activatedOnDate">
                            <span>Not activated</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span>Staff:</span><span class="ml-1">{{client.staffName}}</span>
                        </div>
                        <div class="mr-4 mb-2" *ngIf="client.dateOfDeath">
                            <span>Deceased Date:</span><span class="ml-1">{{client.dateOfDeath | date:
                                dateFormat}}</span>
                        </div>
                        <div class="mr-4 mb-2">
                            <span>Branch Name:</span><span class="ml-1">{{client.officeName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <div class="card-icon">
                                <span class="fa fa-file-text-o"></span>
                            </div>
                            <div class="text-white">
                                <h5 class="text-white mt-2">ACCOUNT INFO</h5>
                                <ul class="pl-0">
                                    <li>
                                        <span class="detail-key">CRN :</span>
                                        <span>{{ client.externalId }}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Staff :</span>
                                        <span>{{ client.staffName }}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Group :</span>
                                        <span>
                                            <span *ngFor="let group of client.groups; let last = last">
                                                <!-- link groups -->
                                                <a href="">{{group.name}}</a>
                                                <span *ngIf="!client.groups">Unassigned</span>
                                        <span *ngIf="!last">|</span>
                                        </span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Center :</span>
                                        <span>
                                            <span *ngFor="let group of client.groups; let last = last">
                                                <a href="">{{group.centerName}}</a>
                                                <span *ngIf="!client.groups">Unassigned</span>
                                        <span *ngIf="!last">|</span>
                                        </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <div class="card-icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="text-white">
                                <h5 class="text-white mt-2">PERSONAL INFO</h5>
                                <ul class="pl-0">
                                    <li>
                                        <span class="detail-key">Gender :</span>
                                        <span>{{ client.gender.name }}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Mobile :</span>
                                        <span>{{ client.mobileNo }}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Date of Birth :</span>
                                        <span>{{ client.dateOfBirth | date : dateFormat }}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Signature :</span>
                                        <span [documentView]="'view'" entityType="clientSignature" [document]="clientDocuments" [entityId]="clientId" (valuechange)="getDocumentsData($event)" class="pointer blueText">
                                            <a>View</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <div class="card-icon">
                                <span class="fa fa-credit-card-alt" style="font-size: 44px;"></span>
                            </div>
                            <div class="text-white">
                                <h5 class="text-white mt-2">PERFORMANCE INFO</h5>
                                <ul class="pl-0">
                                    <li>
                                        <span class="detail-key">No. of Loan Cycle :</span>
                                        <span>{{client.borrowerCycleCount}}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Last Loan Amount :</span>
                                        <span class="fa fa-inr"> {{clientSummary.lastLoanAmount}}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Total Savings :</span>
                                        <span class="fa fa-inr"> {{clientSummary.totalSavings}}</span>
                                    </li>
                                    <li>
                                        <span class="detail-key">Debit Freeze Flag :</span>
                                        <span> {{client.debitFreezeFlag }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs bg-white">
                <li class="nav-item">
                    <a href="" class="nav-link active" data-toggle="tab" (click)="setTab(1)">General</a>
                </li>
                <li class=" nav-item ">
                    <a href="" class="nav-link " data-toggle="tab" (click)="setTab(2)">Personal Details</a>
                </li>
                <li class=" nav-item ">
                    <a href="" class="nav-link " data-toggle="tab" (click)="setTab(3);getGSTDetails()">Client GST Details</a>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link " data-toggle="tab" *hasPermission=" 'READ_ADDRESS' " (click)="setTab(4);getAddresses()">Addresses</a>
                </li>
                <li class=" nav-item ">
                    <a href="" class="nav-link " data-toggle="tab" *hasPermission="'READ_CLIENTIDENTIFIER'" (click)="setTab(5);getClientIdentityDocuments()">Identities</a>
                </li>
                <li class="nav-item ">
                    <a href=" " class="nav-link " data-toggle="tab" (click)="setTab(6);getClientDocuments()">Documents</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link " data-toggle="tab" *hasPermission="'READ_CLIENTNOTE'" (click)="setTab(7);getNotes()">Notes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card pr-4 pl-4" style="width:inherit;" *ngIf="client">
        <div class="ml-auto pt-2 pb-2">
            <button class="btn btn-primary card-btn"><i class="fa fa-history mr-2"></i>Demographic History
            </button>
            <button class="btn btn-primary card-btn"><i class="fa fa-history mr-2"></i>Client Transfer History
            </button>
            <button class="btn btn-primary dropdown-toggle card-btn" data-toggle="dropdown"> More <span
                    class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <div *ngFor="let btn of buttonsArray.singlebuttons">
                    <a class="dropdown-item" type="button" *hasPermission="btn.taskPermissionName" href="">
                        <!-- Add route paths -->
                        <i class="{{btn.icon}} mr-2"></i>{{btn.name}}
                    </a>
                </div>
                <!-- Add route path-->
                <div *ngIf="client.status.value ==='Pending'">
                    <a class="dropdown-item" *hasPermission="'DELETE_CLIENT'" type="button"><i
                            class="fa fa-trash mr-2"></i>Delete</a>
                </div>
                <!-- Add route path -->
                <div *ngIf="updateDefaultSavings">
                    <a class="dropdown-item" type="button" *hasPermission="'UPDATESAVINGSACCOUNT_CLIENT'"><i
                            class="fa fa-edit mr-2"></i>Update Default Savings
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="enableEditDemographic && showClientDemographicForMel && editDemoPermission">
                    <a class="dropdown-item" type="button" *hasPermission="editDemoPermission">
                        <i class="fa fa-edit mr-2"></i>Edit Demographics
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="client.staffId">
                    <a class="dropdown-item" type="button" *hasPermission="'UNASSIGNSTAFF_CLIENT'">
                        <i class="fa fa-user mr-2"></i>Unassign Staff
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="client.demoAuthStatus != 1 && showDemoAuthButton">
                    <a class="dropdown-item" type="button" *hasPermission="'DEMOGRAPHIC_AADHAAR_AUTH_CLIENT'">
                        <i class="fa fa-user mr-2"></i>Demographic Aadhaar Auth Check
                    </a>
                </div>
                <!-- Add route path -->
                <div>
                    <a class="dropdown-item" type="button">
                        <i class="fa fa-user mr-2"></i>Client screen reports
                    </a>
                </div>
                <div>
                    <a class="dropdown-item" type="button" *hasPermission="'CREATE_CLIENTIMAGE'" (click)="showModal(clientId,'Client Image')">
                        <i class="fa fa-cloud-upload mr-2"></i>Upload Client Image
                    </a>
                </div>
                <div>
                    <a class="dropdown-item" type="button" *hasPermission="'CREATE_CLIENTIMAGE'" (click)="showModal(clientId,'Client Signature')">
                        <i class="fa fa-cloud-upload mr-2"></i>Upload Client Signature
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="clientAccounts.savingsAccounts">
                    <a class="dropdown-item" type="button" *hasPermission="'READ_STANDINGINSTRUCTION'">
                        <i class="fa fa-folder-open mr-2"></i>View standing instructions
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="clientAccounts.savingsAccounts">
                    <a class="dropdown-item" type="button" *hasPermission="'CREATE_STANDINGINSTRUCTION'">
                        <i class="fa fa-plus-circle mr-2"></i>Create standing instructions
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="client.status.value=='Active' && !deathRequestPending && isBC">
                    <a class="dropdown-item" type="button" *hasPermission="'CLOSEDASDEATH_CLIENT'">
                        <i class="fa fa-plus-circle mr-2"></i>Close(Applicant Death)
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="allowEditingOfDeathDate && isBC">
                    <a class="dropdown-item" type="button" *hasPermission="'EDIT_DEATH_TAGGING'">
                        <i class="fa fa-edit mr-2"></i>Edit BC Death Tagging
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="isBC">
                    <a class="dropdown-item" type="button" *hasPermission="'VIEW_DEATH_TAGGING'">
                        <i class="fa fa-folder-open mr-2"></i>View BC Death Tagging
                    </a>
                </div>
                <!-- Add route path -->
                <div *ngIf="client.status.value=='Active' && !isBc">
                    <a class="dropdown-item" type="button" *hasPermission="'CLIENT_INITIATE_INSURANCE'">
                        <i class="fa fa-plus-circle mr-2"></i>Initiate Insurance Claim
                    </a>
                </div>
                <!-- Add route path -->
                <div>
                    <a class="dropdown-item" type="button" *hasPermission="'CREATE_BIOMETRIC'">
                        <i class="fa fa-plus-circle mr-2"></i>Capture FingerPrints
                    </a>
                </div>
                <!-- Add route path -->
                <div>
                    <a class="dropdown-item" type="button" *hasPermission="'UPDATE_GST_NUMBER'">
                        <i class="fa fa-plus-circle mr-2"></i>Capture Client GST Details
                    </a>
                </div>
            </div>
        </div>
        <div [ngSwitch]="tab ">
            <div *ngSwitchCase="1">
                <div class="card ">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto">Loan Account Overview
                        </h5>
                        <a class="ml-auto pointer" (click)="showActiveLoans=! showActiveLoans ">
                            View {{showActiveLoans ? 'Closed' : 'Active'}} Loans
                        </a>
                    </div>
                    <div class="card-content ">
                        <perfect-scrollbar>
                            <div *ngIf="showActiveLoans ">
                                <table class="table table-striped" *ngIf="activeLoanAccounts.length ">
                                    <thead>
                                        <tr>
                                            <th>Account #</th>
                                            <th>Loan Account</th>
                                            <th>Original Loan</th>
                                            <th>Loan Balance</th>
                                            <th>Amount Paid</th>
                                            <th>Type</th>
                                            <th>Repayment</th>
                                            <th>Action</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let account of activeLoanAccounts |orderBy: 'id': true " class="pointer">
                                            <td>
                                                <i *ngIf="!account.inArrears " [tooltip]="account.status.value " placement="right" class="fa fa-stop {{account.status.code | StatusLookup}}"></i>
                                                <i *ngIf="account.inArrears " [tooltip]="account.status.value " placement="right" class="fa fa-stop {{account.status.code | StatusLookup}}overdue"></i> {{account.accountNo}}
                                            </td>
                                            <td>{{account.productName}}</td>
                                            <td>{{account.originalLoan}}</td>
                                            <td>{{account.loanBalance}}</td>
                                            <td>{{account.amountPaid}}</td>
                                            <td>
                                                <i [tooltip]="account.loanType.value " placement="top" [ngClass]="(account.loanType.value=='Individual' ) ? 'fa fa-user' : 'fa fa-users' "></i>
                                            </td>
                                            <td class="text-center ">
                                                <button [tooltip]=" 'Make Repayment' " placement="top" class="btn btn-primary pt-0 pb-0 pr-2 pl-2" *ngIf="account.status.active " style="border-radius: 50% !important; ">
                                                    <i class="fa fa-dollar "></i>
                                                    <!-- link repayment screen -->
                                                </button>
                                            </td>
                                            <td class="text-center ">
                                                <i [tooltip]="'Disburse'" placement="top" *ngIf="!account.status.pendingApproval && !account.status.active && account.status.code !=='loanStatusType.overpaid' " class="fa fa-flag blueText top-up"></i>
                                                <!-- link disburse screen -->
                                                <i [tooltip]="'Add a Top-up loan'" placement="top" *ngIf="account.status.active && isPrimaryLoan(account.productId) && !account.isSubsidiary " class="fa fa-plus-circle blueText top-up"></i>
                                                <!-- link topup screen -->
                                            </td>
                                            <td class="text-center ">
                                                <span *ngIf="account.status.active && !(account.processDefKey=='MELUnsecured' && !enableMelEditDemographics)">
                                                    <i class="fa fa-edit blueText edit"
                                                        [tooltip]="'Edit Loan Level details'" placement="top"></i>
                                                    <!-- link edit loan details screen -->
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="alert alert-warning m-4 text-center " role="alert " *ngIf="!activeLoanAccounts.length ">
                                    No active Loans
                                </div>
                            </div>
                            <div *ngIf="!showActiveLoans ">
                                <table class="table table-striped" *ngIf="closedLoanAccounts.length ">
                                    <thead>
                                        <tr>
                                            <th>Account #</th>
                                            <th>Loan Account</th>
                                            <th>Type</th>
                                            <th>Closed Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="account of closedLoanAccounts | orderBy: 'id':true | filter:isClosed ">
                                            <td>
                                                <i placement="right" [tooltip]="account.status.value " class="fa fa-stop {{account.status.code | StatusLookup}}"></i> {{account.accountNo}}
                                            </td>
                                            <td>{{account.productName}}</td>
                                            <td>
                                                <i [tooltip]="account.loanType.value " placement="top" [ngClass]="(account.loanType.value=='Individual' ) ? 'fa fa-user' : 'fa fa-users' "></i>
                                            </td>
                                            <td>
                                                <span *ngIf="account.timeline.closedOnDate ">{{loanaccount.timeline.closedOnDate
                                                    | date : dateFormat}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="alert alert-warning m-4 text-center " role="alert " *ngIf="!closedLoanAccounts.length ">
                                    No closed Loans
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>

                </div>
                <div class="card" *ngIf="associatedWorkflows.length">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto">Associated Loan Applications
                        </h5>
                    </div>
                    <div class="card-content">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Process Instance ID</th>
                                        <th>Process Name</th>
                                        <th>Task Name</th>
                                        <th>Loan Application Status</th>
                                        <th *ngIf="showLoanAccountNumberHeader">Account #</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let workflow of associatedWorkflows" class="pointer">
                                        <td>{{workflow.instanceId}}</td>
                                        <td>{{workflow.processName}}</td>
                                        <td>{{workflow.activityName}}</td>
                                        <td>{{workflow.status}}<span *ngIf="workflow.status == 'REJECTED'"> -
                                                {{workflow.rejectReason}}</span>
                                        </td>
                                        <td>
                                            <div *ngIf="workflow.loanAccountNumber">{{workflow.loanAccountNumber}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="associatedloanapplications.length">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto ">Associated Non WorkFlow Loan Applications
                        </h5>
                    </div>
                    <div class="card-content no-h-padding">
                        <div *ngIf="client.status.value=='Closed'">
                            <h3>Client Closed</h3>
                        </div>
                        <div class="card-content">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Application Reference No</th>
                                        <th>Loan Application Stage</th>
                                        <th>Loan Application Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let applications of associatedloanapplications" class="pointer">
                                        <td class="pointer">{{applications.applicationReferenceNo}}</td>
                                        <td class="pointer">{{applications.applicationStage}}</td>
                                        <td class="pointer">{{applications.applicationStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="2">
                <div class="card">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto">Personal Details
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="pt-3 pb-3">
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{client.age}}
                                </div>
                            </div>
                            <hr>
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Father's Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{(client.spouseOrFatherFirstname || '') + ' ' + (client.spouseOrFatherMiddlename || '') + ' ' + (client.spouseOrFatherLastname || '') }}
                                </div>
                            </div>
                            <hr>
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mother's Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{(client.motherFirstName || '' )+ ' ' + (client.motherMiddleName || '' ) + ' '+ (client.motherLastName || '' )}}
                                </div>
                            </div>
                            <hr>
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Martial Status</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{client.maritalStatus.label}}
                                </div>
                            </div>
                            <hr>
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Religion</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{client.religion.label}}
                                </div>
                            </div>
                            <hr>
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Spouse Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{(client.spouseFirstName || '' ) + ' ' + (client.spouseMiddleName || '' ) + ' '+ (client.spouseLastName || '' )}}
                                </div>
                            </div>
                            <hr>
                            <div class="row col-sm-12">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">CKYC No/Reference No</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{client.ckycNo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="3">
                <div class="card">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto">Client GST Details
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="pt-3 pb-3">
                            <div class="row col-sm-12">
                                <div class="col-sm-3 mb-4">
                                    <h6 class="mb-0">GST Registered ?</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{gst.isGSTNRegistered ? 'Yes' : 'No'}}
                                </div>
                            </div>
                            <div *ngIf="gst?.isGSTNRegistered">
                                <table class="table table-bordered col-md-5 ml-3 mb-4">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>State</th>
                                            <th>GST Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let clientGSTN of gst.clientGSTN">
                                            <td>
                                                <select class="form-control" disabled>
                                                    <option *ngFor="let option of stateOptions" [ngValue]="option.id">{{option.name}}</option>
                                                </select>
                                            </td>
                                            <td>{{clientGSTN?.gSTNumber}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row col-sm-12">
                                <div class="col-sm-3 mb-4">
                                    <h6 class="mb-0">GST Exemption Status</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{gst.isExemptionActive ? 'Exempted' : 'Not Exempted'}}
                                </div>
                                <div *ngIf="gst?.isExemptionActive">
                                    <table class="table table-bordered col-md-5 ml-3 mb-4">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{gst.exemptionStartDate | date : dateFormat}}
                                                </td>
                                                <td>{{gst.exemptionEndDate | date : dateFormat}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row col-sm-12">
                                <div class="col-sm-3 mb-4">
                                    <h6 class="mb-0">Is Client Related Party ?</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">{{gst.isRelatedParty ? 'Yes' : 'No'}}
                                </div>
                                <div *ngIf="gst?.isRelatedParty">
                                    <table class="table table-bordered col-md-5 ml-3 mb-4">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Relation Start Date</th>
                                                <th>Relation End date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    {{gst.relationStartDate | date : dateFormat}}
                                                </td>
                                                <td>{{gst.relationEndDate | date : dateFormat}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="4">
                <div class="card">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto ">Addresses
                        </h5>
                        <button class="ml-auto btn btn-primary "><i class="fa fa-plus-circle mr-2 "></i>Add
                        </button>
                    </div>
                    <div class="card-content ">
                        <perfect-scrollbar>
                            <div>
                                <table class="table table-striped mb-1" *ngIf="addresses.length" style="width:1500px;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Address Type</th>
                                            <th>Address Line</th>
                                            <th>Street Name/Location</th>
                                            <th>Landmark</th>
                                            <th>Village /Town /City</th>
                                            <th>District</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Postal Code</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let address of addresses">
                                            <td>
                                                <span class="pointer">
                                                    <i class="fa fa-edit blueText edit" [tooltip]="'Edit Address'"
                                                        placement="top"></i>
                                                </span>
                                            </td>
                                            <td>
                                                {{(address.addressType.name == 'Permanent Address') ? 'Address as per OVD' : address.addressType.name}}
                                            </td>
                                            <td>{{address.addressLine}}</td>
                                            <td>{{address.street}}</td>
                                            <td>{{address.landMark}}</td>
                                            <td>
                                                <span *ngIf="address.vtcData.name">{{address.vtcData.name}}({{address.vtcData.code}})</span>
                                                <span *ngIf="address.vtcName && !address.vtcData.name">{{address.vtcName}}</span>
                                            </td>
                                            <td>{{address.vtcData.district.name}}({{address.vtcData.district.code}})
                                            </td>
                                            <td>{{address.vtcData.district.stateName}}({{address.vtcData.district.stateCode}})
                                            </td>
                                            <td>{{address.vtcData.district.countryName}}({{address.vtcData.district.countryCode}})
                                            </td>
                                            <td>{{address.postalCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="alert alert-warning m-4 text-center " role="alert " *ngIf="!addresses.length">
                                    No addresses listed
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="5">
                <div class="card">
                    <div class="card-header d-flex ">
                        <i class="fa fa-list mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto">List of Identities
                        </h5>
                        <button class="ml-auto btn btn-primary "><i class="fa fa-plus-circle mr-2 "></i>Add
                        </button>
                    </div>
                    <div class="card-content">
                        <table class="table table-striped" *ngIf="identitydocuments?.length">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Identifier Type</th>
                                    <th>Type</th>
                                    <th>Identity Documents</th>
                                    <th>Documents Expiry Date</th>
                                    <th>View Actual Aadhaar Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let document of identitydocuments | aadhaarMask : clientAccounts " class="pointer">
                                    <td>{{document.documentKey}}</td>
                                    <!-- Aadhaar masking -->
                                    <td>{{document.identifierType.label}}</td>
                                    <td>{{document.documentType.name}}</td>
                                    <td>
                                        <span *ngFor="let file of document.documents" [documentView]="(document.documentType.name == 'Aadhar' || (document.documentType.name | uppercase) == 'UID') ? 'view' : 'download'" [entityType]="file.parentEntityType" [entityId]="file.parentEntityId" [document]="file"
                                            [tooltip]="(document.documentType.name == 'Aadhar' || (document.documentType.name | uppercase) == 'UID') ? 'View' : 'Download'" placement="top" class="mr-1 tag">{{file.fileName}} 
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngIf="document.documentExpiryDate">{{document.documentExpiryDate |  date : dateFormat}}
                                        </span>
                                    </td>
                                    <td>
                                        <span *ngIf="document.documentType.name == 'Aadhar'">
                                            <button class="btn btn-primary"
                                            *hasPermission="'VIEW_ACTUAL_AADHAAR_NUMBER'" actualAadhaar
                                            [document]="document" [clientId]="clientId">View</button>
                                        </span>
                                    </td>
                                    <td>
                                        <a *hasPermission="'CREATE_DOCUMENT'" (click)="showModal(document.id,'Client Document', document.documentType.name)">
                                            <i class="fa fa-cloud-upload mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-warning m-4 text-center " role="alert " *ngIf="!identitydocuments?.length">
                            No Identities present
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="6">
                <div class="card">
                    <div class="card-header d-flex ">
                        <i class="icon fa fa-file mr-2"></i>
                        <h5 class="mb-0 mr-auto">Documents</h5>
                        <a class="ml-auto btn btn-primary" *hasPermission="'CREATE_DOCUMENT'"><i class="fa fa-plus-circle mr-2"></i> Upload
                        </a>
                    </div>
                    <div class="card-content">
                        <table class="table table-striped" *ngIf=" clientDocuments?.length">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>File Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let clientdocument of clientDocuments" class="pointer">
                                    <td>{{clientdocument.name}}</td>
                                    <td>{{clientdocument.description}}</td>
                                    <td>{{clientdocument.fileName}}</td>
                                    <td>
                                        <span entityType="clients" [entityId]="clientId" [documentView]="'download'" [document]="clientdocument">
                                           <i class="fa fa-cloud-download mr-2"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-warning m-4 text-center " role="alert " *ngIf="!clientDocuments?.length">
                            No documents present
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="7">
                <div class="card">
                    <div class="card-header d-flex ">
                        <i class="fa fa-sticky-note mr-2 mt-1"></i>
                        <h5 class="mb-0 mr-auto">Notes
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12 row mb-4">
                            <textarea rows="3" class="form-control col-sm-6" placeholder="Enter Note" [(ngModel)]="createNoteText"></textarea>
                            <div class="col-sm-6 f-ver-end pl-1">
                                <button [tooltip]=" 'Submit' " placement="top" class="btn btn-primary pt-0 pb-1 pr-2 pl-1 circle" *hasPermission="'CREATE_CLIENTNOTE'" (click)="createNote()">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" *ngFor="let note of clientNotes  |orderBy: 'id': true ">
                                <div class="card">
                                    <div class="card-header d-flex note-header">
                                        <span class="fa fa-list-alt mr-2 text-white"></span>
                                        <h6 class="mb-0 text-white">Note #{{note.id}}</h6>
                                        <div *ngIf="!note.showEdit" class="ml-auto">
                                            <button [tooltip]=" 'Edit Note' " placement="top" class="btn btn-primary pt-1 pb-1 pr-2 pl-2 circle" *hasPermission="'UPDATE_CLIENTNOTE'" (click)="editNote(note)">
                                            <i class="fa fa-pencil "></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-content p-4">
                                        <div *ngIf="!note.showEdit">
                                            <div style="font-style: italic;" class="mb-4">{{note.note}}
                                            </div>
                                            <small>Created by : {{note.createdByUsername}}</small><br>
                                            <small>Created on : {{note.createdOn | date : dateFormat}}</small>
                                        </div>
                                        <div *ngIf="note.showEdit">
                                            <div class="col-sm-12 d-flex p-0">
                                                <textarea rows="3" class="form-control mb-2 col-sm-11" placeholder="Enter Note" [(ngModel)]="note.newNote" (ngModelchange)="captureUpdate(old, new)"></textarea>
                                                <div class="col-sm-1 f-ver-end pl-1 mb-2">
                                                    <button [tooltip]=" 'Save' " placement="top" class="btn btn-primary pt-0 pb-1 pr-2 pl-1 circle" *hasPermission="'UPDATE_CLIENTNOTE'" (click)="saveEditedNote(note)">
                                                    <i class="fa fa-paper-plane"></i>
                                                </button>
                                                </div>
                                            </div>
                                            <p class="text-danger error" *ngIf="errorMessage">
                                                {{errorMessage}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal-container "></div>