<div class="pt-3 pb-2 mb-3">
    <h1 class="h2">Create Client</h1>
</div>
<p *ngIf="parentFormError" class="required">**Fill all the required details to submit</p>
<div class="card" *ngIf="dropdownOptions">
    <form [formGroup]="qdeForm">
        <ng-wizard [config]="config">
            <ng-wizard-step [title]="'Personal Details'" [canExit]="validateCanExit.bind(this,'personalDetails')" [canEnter]="actionOnEnter.bind(this)">
                <div class="form-group row col-sm-12">
                    <app-dropdown [parentform]="qdeForm.controls.personalDetails" [name]="'customerTitleId'" [options]="dropdownOptions.customerTitlesOptions" [optionvalue]="'id'" [labelname]="'Title'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding"
                        (valuechange)="getGenders($event)" [emitEvent]="true">
                    </app-dropdown>
                </div>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'text'" [name]="'firstname'" [labelname]="'First Name'" [required]="true" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'text'" [name]="'middlename'" [labelname]="'Middle Name'" [required]="false" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'text'" [name]="'lastname'" [labelname]="'Last Name'" [required]="true" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'text'" [name]="'dateOfBirth'" [placeholder]="dateOfBirthFormat" [labelname]="'Date of Birth'" [required]="true" [mininput]="18" [maxinput]="60" [submitted]="submitted">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [optionvalue]="'id'" [type]="'dropdown'" [name]="'gender'" [placeholder]="'Select gender'" [labelname]="'Gender'" [required]="true" [submitted]="submitted" [options]="dropdownOptions.genderOptions"
                    (valuechange)="getCustomerTitles($event)" [emitEvent]="true">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'dropdown'" [name]="'category'" [placeholder]="'Select category'" [labelname]="'Category'" [required]="true" [submitted]="submitted" [options]="dropdownOptions.categoryOptions">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'dropdown'" [name]="'religion'" [placeholder]="'Select religion'" [labelname]="'Religion'" [required]="true" [submitted]="submitted" [options]="dropdownOptions.religionOptions">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'dropdown'" [name]="'maritalstatus'" [placeholder]="'Select marital status'" [labelname]="'Marital Status'" [required]="true" [submitted]="submitted" [options]="dropdownOptions.maritalStatusOptions"
                    (valuechange)="addSpouseForm($event)" [emitEvent]="true">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.personalDetails" [elementclass]="'2'" [type]="'text'" [name]="'phonenumber'" [labelname]="'Mobile Number'" [required]="true" [submitted]="submitted">
                </dual-entry>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Father Details'" [canExit]="validateCanExit.bind(this,'fatherDetails')" [canEnter]="actionOnEnter.bind(this)">
                <div class="form-group row col-sm-12">
                    <app-dropdown [parentform]="qdeForm.controls.fatherDetails" [name]="'spouseFatherTitleId'" [options]="dropdownOptions.spouseFatherTitleOptions" [optionvalue]="'id'" [labelname]="'Title'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding">
                    </app-dropdown>
                </div>
                <dual-entry [parentform]="qdeForm.controls.fatherDetails" [elementclass]="'2'" [type]="'text'" [name]="'spouseOrFatherFirstname'" [labelname]="'First Name'" [required]="true" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.fatherDetails" [elementclass]="'2'" [type]="'text'" [name]="'spouseOrFatherMiddlename'" [labelname]="'Middle Name'" [required]="false" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.fatherDetails" [elementclass]="'2'" [type]="'text'" [name]="'spouseOrFatherLastname'" [labelname]="'Last Name'" [required]="true" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted">
                </dual-entry>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Spouse Details'" [canExit]="validateCanExit.bind(this,'spouseDetails')" [canEnter]="actionOnEnter.bind(this)" [state]="enableSpouseDetailsTab">
                <div class="form-group row col-sm-12" *ngIf="isSpouseMandatory">
                    <app-dropdown [parentform]="qdeForm.controls.spouseDetails" [name]="'spouseTitleId'" [options]="dropdownOptions.spouseFatherTitleOptions" [optionvalue]="'id'" [labelname]="'Title'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding">
                    </app-dropdown>
                </div>
                <dual-entry [parentform]="qdeForm.controls.spouseDetails" [elementclass]="'2'" [type]="'text'" [name]="'spouse_first_name'" [labelname]="'First Name'" [required]="true" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted" *ngIf="isSpouseMandatory">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.spouseDetails" [elementclass]="'2'" [type]="'text'" [name]="'spouse_middle_name'" [labelname]="'Middle Name'" [required]="false" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted" *ngIf="isSpouseMandatory">
                </dual-entry>
                <dual-entry [parentform]="qdeForm.controls.spouseDetails" [elementclass]="'2'" [type]="'text'" [name]="'spouse_last_name'" [labelname]="'Last Name'" [required]="true" [maxlength]="50" [pattern]="alphabetsPattern.regex" [patternerror]="alphabetsPattern.error"
                    [submitted]="submitted" *ngIf="isSpouseMandatory">
                </dual-entry>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Permanent Address'" [canExit]="validateCanExit.bind(this,'addressDetails')" [canEnter]="actionOnEnter.bind(this,'addressDetails')">
                <div formGroupName="addressDetails" class="form-group row col-sm-12" [ngClass]="{'f-ver-center': qdeForm.controls.addressDetails.get('addressLine').valid}">
                    <label class="col-form-label col-sm-2" for="addressLine">Address Line
          <span class="required">*</span>
      </label>
                    <div class="col-sm-3">
                        <textarea rows="2" id="addressLine" class="form-control" name="addressLine" formControlName="addressLine"></textarea>
                        <small class="text-danger" *ngIf="qdeForm.controls.addressDetails.get('addressLine').hasError('required') && qdeForm.controls.addressDetails.get('addressLine').touched">
            Required Field
        </small>
                        <small class="text-danger" *ngIf="qdeForm.controls.addressDetails.get('addressLine').hasError('minlength')">
          The minimum length for this field is {{qdeForm.controls.addressDetails.get('addressLine').errors.minlength.requiredLength}} characters
      </small>
                        <small class="text-danger" *ngIf="qdeForm.controls.addressDetails.get('addressLine').hasError('maxlength')">
          The maximum length for this field is {{qdeForm.controls.addressDetails.get('addressLine').errors.maxlength.requiredLength}} characters
      </small>
                    </div>
                </div>
                <div class="form-group row col-sm-12">
                    <app-input-field [parentform]="qdeForm.controls.addressDetails" [name]="'landMark'" [labelname]="'Landmark'" [required]="true" [maxlength]="100" [submitted]="submitted" class="col-sm-6 nopadding">
                    </app-input-field>
                    <app-input-field [parentform]="qdeForm.controls.addressDetails" [name]="'postalCode'" [labelname]="'Postal Code'" [required]="true" [maxlength]="6" [minlength]="6" [submitted]="submitted" class="col-sm-6 nopadding" [pattern]="numberPattern.regex" [patternerror]="numberPattern.error">
                    </app-input-field>
                </div>
                <div class="form-group row col-sm-12">
                    <app-dropdown [parentform]="qdeForm.controls.addressDetails" [name]="'countryId'" [options]="countryOptions" [optionvalue]="'id'" [labelname]="'Country'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding" (valuechange)="getStates($event)"
                        [emitEvent]="true">
                    </app-dropdown>
                    <app-dropdown [parentform]="qdeForm.controls.addressDetails" [name]="'stateId'" [options]="stateOptions" [optionvalue]="'id'" [labelname]="'State'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding" [showfield]="qdeForm.controls.addressDetails.get('countryId').value"
                        (valuechange)="getDistricts($event)" [emitEvent]="true">
                    </app-dropdown>
                </div>
                <div class="form-group row col-sm-12">
                    <app-dropdown [parentform]="qdeForm.controls.addressDetails" [name]="'districtId'" [options]="districtOptions" [optionvalue]="'id'" [labelname]="'District'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding" [showfield]="qdeForm.controls.addressDetails.get('stateId').value"
                        (valuechange)="getVTCs($event)" [emitEvent]="true">
                    </app-dropdown>
                    <app-dropdown [parentform]="qdeForm.controls.addressDetails" [name]="'vtcId'" [options]="vtcOptions" [optionvalue]="'id'" [labelname]="'Village /Town /City'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding" [showfield]="qdeForm.controls.addressDetails.get('districtId').value">
                    </app-dropdown>
                </div>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Associated Staff'" [canExit]="validateCanExit.bind(this,'staffDetails')" [canEnter]="actionOnEnter.bind(this)">
                <div class="form-group row col-sm-12" formGroupName="staffDetails">
                    <app-dropdown [parentform]="qdeForm.controls.staffDetails" [name]="'staffId'" [options]="dropdownOptions.staffOptions" [optionvalue]="'id'" [labelname]="'Staff'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding" [displayfield]="'displayName'"
                        (valuechange)="getLinkedVillages($event)" [emitEvent]="true">
                    </app-dropdown>
                    <app-input-field [parentform]="qdeForm.controls.staffDetails" [date]="true" [maxdate]="maxActivationDate" [name]="'activationdate'" [labelname]="'Activation Date'" [required]="true" [value]="maxActivationDate" [submitted]="submitted" class="col-sm-6 nopadding">
                    </app-input-field>
                </div>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Communication Address'" [canExit]="validateCanExit.bind(this,'staffDetails')" [canEnter]="actionOnEnter.bind(this)">
                <div formGroupName="communicationAddressDetails" class="form-group row col-sm-12" [ngClass]="{'f-ver-center': qdeForm.controls.communicationAddressDetails.get('addressLine').valid}">
                    <label class="col-form-label col-sm-2" for="addressLine1">Address Line
          <span class="required">*</span>
      </label>
                    <div class="col-sm-3">
                        <textarea rows="2" id="addressLine1" class="form-control" name="addressLine1" formControlName="addressLine"></textarea>
                        <small class="text-danger" *ngIf="qdeForm.controls.communicationAddressDetails.get('addressLine').hasError('required') && 
            qdeForm.controls.communicationAddressDetails.get('addressLine').touched">
            Required Field
        </small>
                        <small class="text-danger" *ngIf="qdeForm.controls.communicationAddressDetails.get('addressLine').hasError('minlength')">
          The minimum length for this field is {{qdeForm.controls.addressDetails.get('addressLine').errors.minlength.requiredLength}} characters
      </small>
                        <small class="text-danger" *ngIf="qdeForm.controls.communicationAddressDetails.get('addressLine').hasError('maxlength')">
          The maximum length for this field is {{qdeForm.controls.addressDetails.get('addressLine').errors.maxlength.requiredLength}} characters
      </small>
                    </div>
                </div>
                <div class="form-group row col-sm-12">
                    <app-input-field [parentform]="qdeForm.controls.communicationAddressDetails" [name]="'landMark1'" [labelname]="'Landmark'" [required]="true" [maxlength]="100" [submitted]="submitted" class="col-sm-6 nopadding">
                    </app-input-field>
                    <app-dropdown [parentform]="qdeForm.controls.communicationAddressDetails" [name]="'vtc'" [options]="dropdownOptions.linkedVillages" [optionvalue]="'id'" [labelname]="'Village /Town /City'" [required]="true" [submitted]="submitted" class="col-sm-6 nopadding"
                        [elementClass]="'4'">
                    </app-dropdown>
                </div>
                <dual-entry [parentform]="qdeForm.controls.communicationAddressDetails" [elementclass]="'2'" [type]="'text'" [name]="'postalCode'" [labelname]="'Postal Code'" [required]="true" [pattern]="numberPattern.regex" [patternerror]="numberPattern.error" [submitted]="submitted">
                </dual-entry>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Document Details'" [canExit]="validateCanExit.bind(this,'documentDetails')" [canEnter]="actionOnEnter.bind(this,'documentDetails')">
                <app-document-upload [parentform]="qdeForm.controls.documentDetails" [submitted]="submitted" class="col-sm-6 nopadding" *ngIf="activateDocumentTab">
                </app-document-upload>
            </ng-wizard-step>
        </ng-wizard>
    </form>
</div>
<br>