<div class="pt-3 pb-2 mb-3">
    <h1 class="h2">Dashboard</h1>
</div>
<div class="row">
    <div class="col-12 col-xxl">
        <div class="card">
            <div class="card-header d-flex">
                <i class="fa fa-search mr-2 mb-2"></i>
                <h5 class="mr-auto">Advanced Search</h5> 
                <a class="ml-auto">
                    <span *ngIf="!pulledAdvSearch"><i class="fas fa-chevron-down" ></i></span>
                    <span *ngIf="pulledAdvSearch"><i class="fas fa-chevron-up" ></i></span>
                </a>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xxl">
        <div class="card">
            <div class="card-header d-flex">
                <i class="fa fa-tasks mr-2"></i>
                <h5 class="mb-0 ">My Tasks
                    <!-- <span class="badge badge-light">4</span> -->
                 </h5>
                <div class="input-group ml-4" style="width: 25%;" *ngIf="pulledMytasks && taskDataOfStaff && taskDataOfStaff.length">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fa fa-search"></span></span>
                </div> 
                <input [(ngModel)]="filterMytasks" type="text" class="form-control mr-auto"
                placeholder="Filter">
                </div>
                <a (click) = "getTasksforStaff(false,false,false)" class="ml-auto" type="button">
                    <span *ngIf="!pulledMytasks"><i class="fas fa-chevron-down" ></i></span>
                    <span *ngIf="pulledMytasks"><i class="fas fa-chevron-up" ></i></span>
                </a>
            </div>
            <div class="card-content" *ngIf="taskDataOfStaff && pulledMytasks">
                    <table class="table table-striped card-table" *ngIf="taskDataOfStaff.length">
                        <thead>
                            <tr>
                                <th><input type="checkbox" [(ngModel)]="selectAllStaffTasks" (change)="bulkSelection(false)"></th>
                                <th>ETA</th>
                                <th>Task Type</th>
                                <th>Task Sub-Type</th>
                                <th *ngIf="showColumn">Vertical</th>
                                <th *ngIf="showColumn">Office</th>
                                <th>Task Description</th>
                                <th>Unassign</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of taskDataOfStaff | search: filterMytasks | paginate: { itemsPerPage: 5, currentPage: p ,id: 'mytasksFilter'}">
                                <td><input type="checkbox" (click)="toggleSelection( task.id,false)" [checked]="unAssignTasksForStaff.indexOf(task.id) > -1"></td>
                                <td>{{task.eta | date: dateFormat }}</td>
                                <td>{{task.taskType}}</td>
                                <td>{{task.taskSubType}}</td>
                                <td *ngIf="showColumn">{{task.vertical}}</td>
                                <td *ngIf="showColumn">{{task.officeName}}</td>
                                <td>{{task.taskDescription}}</td>
                                <td class="text-center"><a (click)="unAssign(task.id)"
                                    tooltip="Unassign Task" placement="top"
                                    type="button"><span class="fa fa-times-circle"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-info" role="alert" *ngIf="!taskDataOfStaff.length">
                        You do not have any tasks assigned to you currently!
                    </div>
                    <div class="col-12 col-xxl" *ngIf="taskDataOfStaff.length">
                        <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary" (click)="bulkTaskUnAssign()">Bulk Unassign</button>
                        </div>
                        <div class="paging col-6">
                            <pagination-controls (pageChange)="p = $event" id="mytasksFilter" (pageBoundsCorrection)="p = $event"></pagination-controls>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-xxl">
        <div class="card">
            <div class="card-header d-flex">
                <i class="fa fa-tasks mr-2"></i>
                <h5 class="mb-0 ">Other Tasks</h5>
                <div class="input-group ml-4" style="width: 25%;" *ngIf="pulledOthertasks && taskDataOfOthers && taskDataOfOthers.length">
                <div class="input-group-prepend">
                    <span class="input-group-text"><span class="fa fa-search"></span></span>
                </div> 
                <input [(ngModel)]="filterOthertasks" type="text" class="form-control mr-auto"
                placeholder="Filter">
                </div>
                <a (click) = "getOtherTasks(false, false,false)" class="ml-auto" type="button">
                    <span *ngIf="!pulledOthertasks"><i class="fas fa-chevron-down" ></i></span>
                    <span *ngIf="pulledOthertasks"><i class="fas fa-chevron-up" ></i></span>
                </a>
            </div>
            <div class="card-content" *ngIf="taskDataOfOthers && pulledOthertasks">
                <table class="table table-striped card-table" *ngIf="taskDataOfOthers.length">
                    <thead>
                        <tr>
                            <th><input type="checkbox" [(ngModel)]="selectAllOtherTasks" (change)="bulkSelection(true)"></th>
                            <th>ETA</th>
                            <th>Task Type</th>
                            <th>Task Sub-Type</th>
                            <th *ngIf="showColumn">Vertical</th>
                            <th *ngIf="showColumn">Office</th>
                            <th>Task Description</th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of taskDataOfOthers | search: filterOthertasks | paginate: { itemsPerPage: 5, currentPage: q , id:'otherTasksFilter'}">
                            <td><input type="checkbox" (click)="toggleSelection( task.id,true)" [checked]="assignTasksForStaff.indexOf(task.id) > -1"></td>
                            <td>{{task.eta | date: dateFormat }}</td>
                            <td>{{task.taskType}}</td>
                            <td>{{task.taskSubType}}</td>
                            <td *ngIf="showColumn">{{task.vertical}}</td>
                            <td *ngIf="showColumn">{{task.officeName}}</td>
                            <td>{{task.taskDescription}}</td>
                            <td class="text-center"><a (click)="assign(task.id)" tooltip="Assign Task" placement="top"
                                type="button"><span class="fa fa-check-circle"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" role="alert" *ngIf="!taskDataOfOthers.length">
                    You do not have any tasks assigned to you currently!
                </div>
                <div class="col-12 col-xxl" *ngIf="taskDataOfOthers.length">
                    <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary" (click)="bulkTaskAssign()">Bulk Assign</button>
                    </div>
                    <div class="paging col-6">
                        <pagination-controls (pageChange)="q = $event" (pageBoundsCorrection)="q = $event" id="otherTasksFilter"></pagination-controls>
                    </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>