.statusoverpaid {
    border: 5px solid #8e44ad
}

.statusactiveoverdue {
    border: 5px solid #c0392b
}

.statustransferprogress {
    border: 5px solid #e74c3c
}

.statustransferonhold {
    border: 5px solid #d35400
}

.statusactive {
    border: 5px solid #64a246
}

.statusmatured {
    border: 5px solid #e74c3c
}

.statusdeleted {
    border: 5px solid #2c3e50
}

.statuspending {
    border: 5px solid #f39c12
}

.statusApproved {
    border: 5px solid #2980b9
}

.statusfreezedAccount {
    border: 5px solid #960
}

.statusbad {
    border: 5px solid red
}

.statusgood {
    border: 5px solid #25c981
}

.statushold {
    border: 5px solid #e7e419
}

.statusprogresspendingtab {
    border: 5px solid #f7fe2e
}

.statusprogresstab {
    border: 5px solid #ff8400
}

.statusprogresscompletedtab {
    border: 5px solid #39c06d
}

.statuscloseasdeath {
    border: 5px solid #03fcfc
}

.statusdeathfreezedAccount {
    border: 5px solid rgb(145, 141, 146)
}

.statusdeathforeclosedAccount {
    border: 5px solid #ff0
}

.statusdeathOfCoApplicant {
    border: 5px solid #ffa64d
}

.statusdeathcoApplicantforeclosureFreeze {
    border: 5px solid #c3f
}

.statusdeathcoApplicantforeclosure {
    border: 5px solid #ff0
}