@import "../../css/status-colours";
.detail-key {
    color: #c8c8c8;
}

span>a,
span>a:hover {
    color: #599eca;
    text-decoration: none;
}

ul li {
    padding: 5px 0;
}

.nav-link {
    color: var(--black);
    font-weight: 600;
}

.nav-link.active {
    color: #007bff;
    border-color: white;
}

.nav-link:hover,
.nav-link:focus {
    color: #007bff;
    border-color: white;
}

.nav-tabs {
    border-bottom: none;
}

#border>div>div:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid #0000001a;
}