<div [formGroup]="parentform" class="row col-sm-12 nopadding nomargin" *ngIf="showfield">
  <label class="col-form-label col-sm-{{elementClass}}" for="{{name}}" >{{labelname}}
    <span class="required">*</span>
  </label>
  <div class="col-sm-6">
    <select formControlName="{{name}}" class="form-control">
      <option [ngValue]="null" disabled>Select {{labelname}}</option>
      <option *ngFor="let option of options" [ngValue]="option[optionvalue]">{{option[displayfield]}}</option>
    </select>
    <small class="text-danger"
        *ngIf="parentform.get(name).hasError('required') && ( parentform.get(name).touched || submitted)">
        Required Field
    </small>
  </div>
</div>
