.blueBorderModal{
    border-bottom: 10px solid #0096c5;
    border-left: 10px solid #0096c5;
    border-right: 10px solid #0096c5;
}
.modalBackground{
    background-color: #0096c5;  
    border-top-left-radius: 0px !important; 
    border-top-right-radius: 0px !important;
    text-align: center;
}

.h4{
    color: white;
}

.headingStyle{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 30px !important;
    padding-top: 40px !important;
    text-align: center;
    font-size: 1.5rem;
}