<div class="modal-content blueBorderModal">
    <div class="modal-header modalBackground">
        <h4 class="col-sm-12 h4">View Actual Aadhaar Number<span class="pointer pr-1" (click)="confirm()" style="position: absolute;
        right: 0">
                <i class="fa fa-close" [tooltip]="'Close'" placement="right"></i>
            </span>
        </h4>
    </div>
    <div class="modal-body pt-0 headingStyle">
        <div class="col-sm-12">
            <label class="mb-0">Actual Aadhaar Number : </label>
            <span> {{ actualAadhaarNumber}}</span>
        </div>
    </div>
</div>