<!-- Login Page -->
<div class="login-container container-fluid" *ngIf="!isUserLoggedIn" >
  <div class="login-form col-md-3 col-sm-6 col-xs-12">
    <img src="../assets/novopay_logo_login.png" alt="NovoLoan" class="img-responsive login-logo" />
    <div class="login-error" *ngIf="formInvalid">
        <i class="fa fa-exclamation-circle m-r-5"></i>Enter Username & Password
    </div>
    <form #loginForm="ngForm">
      <input type="text" name="username" placeholder="Username" class="form-control"
        [(ngModel)]="loginCredentials.username" required>
      <input type="text" name="password" placeholder="Password" class="form-control pwd"
        [(ngModel)]="loginCredentials.password" required>
      <button type="submit" class="btn login-btn btn-primary btn-block" [disabled]="isLoginButtonDisabled" (click)="login(loginForm)" id="login-button">SignIn</button>
    </form>
    <div class="footer">
      <p class="text-center">&copy; 2014 Novopay Solutions Pvt. Ltd. All Rights Reserved.<br>
          <small>{{ version }}</small><br>
          <small>{{ releasedate }}</small>
      </p>
  </div>
  </div>
</div>
<!-- Login Page -->
<div *ngIf="isUserLoggedIn">
 <perfect-scrollbar [config]="config" style="height:100vh">
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light navbar-inverse">
  <span id="leftmenu-trigger" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"
  (click)="clicked = !clicked"></span>
  <a class="navbar-brand">
      <img src="../assets/novopay_logo_small.png" class ="img-responsive"/>
  </a>
  <small class="mr-auto"> {{ version }}</small>
  <a class="navbar-toggler m-r-5" type="button" 
  data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-expanded="false" >
  <i class="fa fa-chevron-circle-down"></i>
  <i class="fa fa-chevron-circle-up"></i>
</a>
<div class="collapse navbar-collapse right-navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" 
            data-toggle="dropdown"> {{currentSearchType}}</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" *ngFor="let search of searchTypes" 
              (click)="currentSearchType = search">{{search}}</a>
            </div>
          </div>
          <div class="search">
            <input id="search"  type="text" class="form-control"  maxlength="48" />
            <span class="fa fa-search"></span>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  
        data-toggle="dropdown">Admin</a>
        <div class="dropdown-menu">
            <a class="dropdown-item">Organization</a>
            <a class="dropdown-item">System</a>
            <a class="dropdown-item">Products</a>
            <a class="dropdown-item">Users</a>
            <a class="dropdown-item">Business Correspondent</a>
            <a class="dropdown-item">Manage NOC</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link">Accounitng</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  
        data-toggle="dropdown">Reports</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item">All</a>
            <a class="dropdown-item">Clients</a>
            <a class="dropdown-item">Loans</a>
            <a class="dropdown-item">Accounting</a>
            <a class="dropdown-item">Aadhaar Enrollment Expiry Report</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Inventory</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item">Send Items to Branch</a>
            <a class="dropdown-item">All Requests</a>
            <a class="dropdown-item">Receipt Books</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{currentUser.username}}</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item border-bottom">
              <h6 class="mb-0">{{currentUser.firstname}}&nbsp;{{currentUser.lastname}}</h6>
              <small>Logged in as <span class="blueText">{{currentUser.roles[0].name}}</span></small>
            </a>
            <a class="dropdown-item">Help</a>
            <a class="dropdown-item">Profile</a>
            <a class="dropdown-item">Settings</a>
            <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
  </ul>
</div>
</nav>
<!-- Header -->
<div class="d-flex" id="wrapper">
  <!-- SideBar -->
  <div id="sidebar-wrapper" [ngClass]="clicked ? 'toggled' : ''" >
    <!-- <perfect-scrollbar [config]="config"> -->
  <div class="leftbar-profile-info">
      <img src="../assets/default_profile.jpg" class="img-responsive img-circle">
            <!-- <img ng-show= "sessionData.loggedInUserImage" ng-src="{{sessionData.loggedInUserImage}}" class="img-responsive img-circle"> -->
      <div class="col-md-12 text-center"> 
            <h4 class="profile-name">
                {{currentUser.firstname}}&nbsp;{{currentUser.lastname}}
            </h4>
            <h5 class="profile-role">{{currentUser.roles[0].name}}</h5>
            <h5 class="profile-role">{{currentUser.officeName}}({{office.branchCode}})</h5>
            <!-- <h5>{{date | date:'dd-MMM-yyyy hh:mm'}}</h5> -->
      </div>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action" [routerLink]="['/home']" [routerLinkActive]="['active']">Dashboard</a>
    <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/createclient']" [routerLinkActive]="['active']">Create Client</a>
    <a href="#" class="list-group-item list-group-item-action">Checker Inbox & Tasks</a>
    <a href="#" class="list-group-item list-group-item-action">Document Vault</a>
    <a href="#" class="list-group-item list-group-item-action">MEL Unsecured</a>
    <a href="#" class="list-group-item list-group-item-action">Subsidiary JLG</a>
    <a href="#" class="list-group-item list-group-item-action">Loans at sanction stage</a>
    <a href="#" class="list-group-item list-group-item-action">Collection Sheet</a>
    <a href="#" class="list-group-item list-group-item-action">Individual Collection Sheet</a>
    <a href="#" class="list-group-item list-group-item-action">Collection Status</a>
    <a href="#" class="list-group-item list-group-item-action">Clients</a>
    <a href="#" class="list-group-item list-group-item-action">Groups</a>
    <a href="#" class="list-group-item list-group-item-action">Centers</a>
    <a href="#" class="list-group-item list-group-item-action">Scheme Creation</a>
    <a href="#" class="list-group-item list-group-item-action">MEL Preapproved Loan Upload</a>
    <a href="#" class="list-group-item list-group-item-action">Loan End Use Check</a>
    <a href="#" class="list-group-item list-group-item-action">Inter Branch Transaction</a>
    <a href="#" class="list-group-item list-group-item-action">Group Safeguard Cancellation</a>
    <a href="#" class="list-group-item list-group-item-action">Post Disbursement EDD Change Document Verification</a>
  </div>
    <!-- </perfect-scrollbar> -->
  </div>
  <!-- SideBar -->
  <!-- Root Container -->
  <main class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
  </main>
  <!-- Root Container -->
</div>
 </perfect-scrollbar>
</div>
<!-- Loader -->
<div class="loader-overlay" *ngIf="loading">
<div class="text-center" style="color:#fff;top: 40%;position: relative;">
  <span class="fa fa-spinner fa-pulse fa-4x fa-fw"></span>
</div>
</div>
<!-- Loader -->