a[aria-expanded=true] .fa-chevron-circle-down {
display: none;
}
a[aria-expanded=false] .fa-chevron-circle-up {
display: none;
}
.card-header{
    background-color: inherit;
    border: none !important;
    align-items: center;
  }
  .table th {
    border-top: 1px solid transparent;
  }
  .alert-info{
    margin: 15px;
  }
  .bulkassign{
    text-align: left;
  }
  h5{
    font-size: 1.3rem !important;
  }
  .svg-inline--fa {
    color: rgb(85, 85, 85) !important;
  }