<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light navbar-inverse">
    <span id="leftmenu-trigger" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar" (click)="clicked = !clicked"></span>
    <a class="navbar-brand">
        <img src="../assets/novopay_logo_small.png" class="img-responsive" />
    </a>
    <small class="mr-auto"> {{ version }}</small>
    <a class="navbar-toggler m-r-5" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-expanded="false">
        <i class="fa fa-chevron-circle-down"></i>
        <i class="fa fa-chevron-circle-up"></i>
    </a>
    <div class="collapse navbar-collapse right-navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" style="width:80px">
                            {{currentSearchType}}</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" *ngFor="let search of searchTypes" (click)="currentSearchType = search">{{search}}</a>
                        </div>
                    </div>
                    <div class="search">
                        <input id="search" type="text" #searchText (keydown.enter)="search(searchText.value)" class="form-control pr-4" maxlength="48" style="width: 250px;">
                        <span class="fa fa-search" (click)="search(searchText.value)"></span>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" type="button">Admin</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" type="button">Organization</a>
                    <a class="dropdown-item" type="button">System</a>
                    <a class="dropdown-item" type="button">Products</a>
                    <a class="dropdown-item" type="button">Users</a>
                    <a class="dropdown-item" type="button">Business Correspondent</a>
                    <a class="dropdown-item" type="button">Manage NOC</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" type="button">Accounitng</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" type="button">Reports</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" type="button">All</a>
                    <a class="dropdown-item" type="button">Clients</a>
                    <a class="dropdown-item" type="button">Loans</a>
                    <a class="dropdown-item" type="button">Accounting</a>
                    <a class="dropdown-item" type="button">Aadhaar Enrollment Expiry Report</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" type="button">Inventory</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" type="button">Send Items to Branch</a>
                    <a class="dropdown-item" type="button">All Requests</a>
                    <a class="dropdown-item" type="button">Receipt Books</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" type="button">{{currentUser.username}}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item border-bottom">
                        <h6 class="mb-0">{{currentUser.firstname}}&nbsp;{{currentUser.lastname}}</h6>
                        <small>Logged in as <span class="blueText">{{currentUser.roles[0].name}}</span></small>
                    </a>
                    <a class="dropdown-item" type="button">Help</a>
                    <a class="dropdown-item" type="button">Profile</a>
                    <a class="dropdown-item" type="button">Settings</a>
                    <a class="dropdown-item" (click)="logout()" type="button">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- Header -->
<div class="d-flex" id="wrapper">
    <!-- SideBar -->
    <div id="sidebar-wrapper" [ngClass]="clicked ? 'toggled' : ''">
        <div class="leftbar-profile-info">
            <img src="../assets/default_profile.jpg" class="img-responsive img-circle">
            <!-- <img ng-show= "sessionData.loggedInUserImage" ng-src="{{sessionData.loggedInUserImage}}" class="img-responsive img-circle"> -->
            <div class="col-md-12 text-center">
                <h4 class="profile-name">
                    {{currentUser.firstname}}&nbsp;{{currentUser.lastname}}
                </h4>
                <h5 class="profile-role">{{currentUser.roles[0].name}}</h5>
                <h5 class="profile-role">{{currentUser.officeName}}({{office.branchCode}})</h5>
                <!-- <h5>{{date | date:'dd-MMM-yyyy hh:mm'}}</h5> -->
            </div>
        </div>
        <perfect-scrollbar style="height:61vh">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"><i class="fa fa-address-card mr-2"></i>Dashboard</a>
                <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/home/client/create']" [routerLinkActive]="['active']"><i class="fa fa-user mr-2"></i>Create Client</a>
                <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/home/product/create']" [routerLinkActive]="['active']"><i class="fa fa-file mr-2"></i>Create Product</a>
                <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/home/client/view/21893']">View Client</a>
                <a href="#" class="list-group-item list-group-item-action">Document Vault</a>
                <a href="#" class="list-group-item list-group-item-action">MEL Unsecured</a>
                <a href="#" class="list-group-item list-group-item-action">Subsidiary JLG</a>
                <a href="#" class="list-group-item list-group-item-action">Loans at sanction stage</a>
                <a href="#" class="list-group-item list-group-item-action">Collection Sheet</a>
                <a href="#" class="list-group-item list-group-item-action">Individual Collection Sheet</a>
                <a href="#" class="list-group-item list-group-item-action">Collection Status</a>
                <a href="#" class="list-group-item list-group-item-action">Clients</a>
                <a href="#" class="list-group-item list-group-item-action">Groups</a>
                <a href="#" class="list-group-item list-group-item-action">Centers</a>
                <a href="#" class="list-group-item list-group-item-action">Scheme Creation</a>
                <a href="#" class="list-group-item list-group-item-action">MEL Preapproved Loan Upload</a>
                <a href="#" class="list-group-item list-group-item-action">Loan End Use Check</a>
                <a href="#" class="list-group-item list-group-item-action">Inter Branch Transaction</a>
                <a href="#" class="list-group-item list-group-item-action">Group Safeguard Cancellation</a>
                <a href="#" class="list-group-item list-group-item-action">Post Disbursement EDD Change Document
                    Verification</a>
            </div>
        </perfect-scrollbar>
    </div>
    <!-- SideBar -->
    <!-- Root Container -->
    <perfect-scrollbar #perfectScroll>
        <main id="content" class="content" [ngClass]="clicked ? 'toggled' : ''" style="height:95vh">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </main>
    </perfect-scrollbar>
    <!-- Root Container -->
</div>